{% extends 'user/base.html' %} {% load static %}{% load i18n %} {% block extra_style %}{% endblock extra_style %} {% block content %}

<main>
    <div class="wrapper padding-4">
        {% block breadcrumbs %}
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12" data='wrap_breadcrumbs'>
                    <!-- <a href="#!" class="breadcrumb">Root</a> -->
                </div>
            </div>
        </nav>
        {% endblock breadcrumbs %}
        <div class="divider"></div>
        {% block dirs %}
        <div id='folders_container'>
            <div>
                <h5>{% trans 'Directories' %}</h5>
            </div>
            <div class="divider" style="margin: 2rem 0 2rem 0;"></div>
            <div>
                <div class="row animate fadeUp" data='wrap_folders'>
                    <!-- 
                    <div class="col s12 m4 l2">
                        <div class="card  rounded button" style="display: flex">
                            <div><i class="material-icons" style="padding:15px;">folder</i></div>
                            <div>
                                <p style="padding:2px;">item1</p>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
        {% endblock dirs %}
        <div class="divider"></div>
        {% block files %}
        <div id='files_container'>
            <div>
                <div>
                    <h5>{% trans 'Files' %}</h5>
                </div>
            </div>
            <div class="divider" style="margin: 2rem 0 2rem 0;"></div>
            <div>
                <div class="row animate fadeUp" data='wrap_files'>
                    <!--
                    <div class="col s6 m3 l2">
                        <div class="card">
                            <div class="card-image" style="max-height: 100px;max-width: 100px;">
                                <img src="{% static 'img/pdf.jfif' %}" class="card-image-center">
                            </div>
                            <div class="card-content">
                                <p>File1 about that thing</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Download</a>
                            </div>
                        </div>
                    </div> -->



                </div>
            </div>
        </div>
        {% endblock files %}


    </div>
</main>




{% endblock content %} {% block extra_scripts %}
<script>
    const pdf_image_url = "{% static 'img/pdf_icon.jfif' %}";
    const txt_image_url = "{% static 'img/txt_icon.png' %}";
    const xlsx_image_url = "{% static 'img/xlsx_icon.png' %}";
    const docx_image_url = "{% static 'img/docx_icon.png' %}";
    const other_image_url = "{% static 'img/other_icon.png' %}";
</script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/FS handler.js' %}"></script>
<script src="{% static 'js/UserUI.js' %}"></script>
<script>
    const h = new InterfaceHandler('{{request.user.id}}');
</script>

{% endblock extra_scripts %}