{% extends "admin/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="shortcut icon" href="{% static 'img/striped logo trans.png' %}" type="image/x-icon">
{% endblock extrahead %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 100px;">{{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
