{% extends 'user/base.html' %} {% load static %} {% block extra_style %}
<style>
    nav {
        display: none;
    }
</style>
{% endblock extra_style %} {% block content %}

<div class="section"></div>
<main>
    <center>
        <img class="responsive-img" src="{% static 'img/logo.png' %}" style="height: 180px;" />
        <br><br><br><br><br>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <div class="green-text text-lighten-3" style="margin: 2rem;">
                    <i class="material-icons medium">check_circle</i>
                    <h3 style="display:inline;">Success</h3>
                </div>
                <div>
                    <i class="fas fa-check-circle"></i>
                    <p> Your password has been set successfully! You may go ahead and log in now.</p>
                </div>

                <br />
                <center>
                    <div class='row'>
                        <a href="/login/" class="white-text"><button class='col s12 btn btn-large waves-effect green lighten-2'>Login</button></a>
                    </div>
                </center>
                </form>
            </div>
        </div>
    </center>

</main>

{% endblock %}