{% extends 'user/base.html' %} {% load static %} {% block extra_style %}
<style>
    nav {
        display: none;
    }
</style>
{% endblock extra_style %} {% block content %}
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <img class="responsive-img" src="{% static 'img/logo.png' %}" style="height: 180px;" />
        <br><br>


        <br><br>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;max-width:500px;min-height:400px">
                <div class="green-text text-lighten-3" style="margin: 2rem;">
                    <i class="material-icons medium">check_circle </i>
                    <h3 style="display:inline;">Email sent</h3>
                </div>
                <div>
                    <h6 style="line-height:1.5;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h6>
                </div>
                <br/><br/>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </center>

</main>

{% endblock content%} {% block extra_scripts %} {% if form.email.errors %} {% for error in form.email.errors %}
<script>
    M.toast({
        html: "{{ error }}",
        classes: 'red rounded',
        displatLength: 15000
    })
</script>
{% endfor %} {% else %} {# nothing lol #} {% endif %}
<!--===============================================================================================-->
<!--===============================================================================================-->

{% endblock extra_scripts %}