{% extends "admin/base_site.html" %}{% load static %} {% block extrastyle %}
<!-- <link rel="stylesheet" href="{% static 'css/tail.select-light-feather.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/font_awsome.min.css' %}" class="css">
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %} {% block content %}
<!-- 
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate> -->
<div class="related-widget-wrapper" id = 'wraps-client'>
    <label for="id_select">Chose Client: </label>
    <select required="" id="client-choice">
                <option value="">JS here</option>
        </select>
    <!-- link for update -->
    <a class="related-widget-wrapper-link change-related" id="change_id_owner_id" data-href-template="/admin/user/client/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected client" href="/admin/user/client/1/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a>
    <!-- link for add -->
    <a class="related-widget-wrapper-link add-related" id="add_id_owner_id" href="/admin/user/client/add/?_to_field=id&amp;_popup=1" title="Add another client"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>

</div>
<main>
    <div class="related-widget-wrapper">
        <div class='interface-wrapper'>
            <div class="navigation" id='wrap-navigation'>
                <div class="navigation-buttons">
                    <button id="prev" class="waves-effect waves-light btn"><i class="fa fa-arrow-left"></i></button>
                    <!-- <button id="post" class="waves-effect waves-light btn"><i class="fa fa-arrow-right"></i></button> -->
                </div>
                <div class='path-wrapper'>
                    <input type="text">
                    <button id="validate_path"><i>validate_path</i></button>
                </div>

            </div>

            <div class="interface">
                <div class="FS-action-buttons" id='wrap-actionButtons'>
                    <button id="add_file" class="waves-effect waves-light btn"><i class="fa fa-plus"></i></button>
                    <button id="add_dir" class="waves-effect waves-light btn"><i class="fas fa-folder-plus"></i></button>

                    <button id="delete" class="waves-effect waves-light btn"><i class="fas fa-folder-minus"></i></button>
                    <button id="edit" class="waves-effect waves-light btn"><i class="fas fa-pen"></i></button>
                    
                    <button id="undo" class="waves-effect waves-light btn"><i class="fa fa-undo"></i></button>
                    <button id="redo" class="waves-effect waves-light btn"><i class="fas fa-redo"></i></button>

                </div>
                <div class='forms' id='wrap-forms'>
                    <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="file_form" class='hidden' novalidate>
                        <input type="text" id='file_name'>
                        <input type="text" id='file_content'>
                        <p class="file-upload">Currently: <a href="#" id="current_file"></a><br>
                            Change:
                            <input type="file" id="file_path">
                        </p>
                        <input type="text" id='year'>
                        <button>save</button>
                    </form>
                    <form action="" method ="post" id ='folder_form' class='hidden' , novalidate>
                        <input type="text" id='folder_name'>
                        <button>Save</button>
                    </form>
                </div>
                <div class="FS-table" id ='wrap-table'>
                    <table>
                        <thead>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Size</td>
                            <td>Year</td>
                        </thead>
                        <tbody id="FS">
                            <tr>
                                <td>
                                    <i class="fa fa-folder"></i>
                                    <span>folder1</span>
                                </td>
                                <td>
                                    2020
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="fa fa-folder"></i>
                                    <span>folder2</span>
                                </td>
                                <td>
                                    2020
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <i class="fa fa-folder"></i>
                                    <span>folder3</span>
                                </td>
                                <td>
                                    2020
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="fa fa-file-pdf"></i>
                                    <span>file 1</span>
                                </td>
                                <td>
                                    2019
                                </td>
                                <td>
                                    PDF
                                </td>
                                <td>
                                    1Mo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fas fa-file-pdf"></i>
                                    <span>file 1</span>
                                </td>
                                <td>
                                    2019
                                </td>
                                <td>
                                    PDF
                                </td>
                                <td>
                                    1Mo
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="fas fa-file-pdf"></i>
                                    <span>file 1</span>
                                </td>
                                <td>
                                    2019
                                </td>
                                <td>
                                    PDF
                                </td>
                                <td>
                                    1Mo
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>



</main>
{% endblock content %} {% block extrascripts %}
<script src="{% static 'js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/tail.select.min.js' %}"></script>
<script>
    const pdf_image_url = '<i class="fas fa-file-pdf"></i>';
    const txt_image_url = '<i class="fas fa-file-alt"></i>';
    const xlsx_image_url = '<i class="fas fa-file-excel"></i>';
    const docx_image_url = '<i class="fas fa-file-word"></i>';
    const other_image_url = '<i class="fas fa-question-circle"></i>';
</script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/FS handler' %}"></script>
<script src="{% static 'js/AdminUI.js' %}"></script>
<!-- <script>
    tail.select('#search box', {
        search: true,
    });
    tail.select('#id_owner_id', {});
</script> -->
{% endblock extrascripts %}