{% extends "admin/base_site.html" %}{% load static %} {% block extrastyle %}
<!-- <link rel="stylesheet" href="{% static 'css/tail.select-light-feather.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font_awsome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %} 
{% block content_title %}<h3>Add files</h3>{% endblock %}
{% block content %}
<!-- 
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate> -->
<div class="related-widget-wrapper" id = 'wraps-client' style="display:flex;margin-bottom:2rem">
    <label for="id_select" style="font-size: 1.25rem;align-self:center;padding-right:0.5rem;white-space: nowrap;">Chose Client: </label>
    <select required="" id="client-choice" style="display:block;max-width:600px;"></select>
    <!-- link for update -->
    <a class="related-widget-wrapper-link change-related" id="change_id_owner_id" data-href-template="/admin/user/client/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected client" href="/admin/user/client/1/change/?_to_field=id&amp;_popup=1" style="align-self: center;"><img src="/static/admin/img/icon-changelink.svg" alt="Change" style="width: 25px;height:25px;padding:0 0.3rem;"></a>
    <!-- link for add -->
    <a class="related-widget-wrapper-link add-related" id="add_id_owner_id" href="/admin/user/client/add/?_to_field=id&amp;_popup=1" title="Add another client" style="align-self:center;"><img src="/static/admin/img/icon-addlink.svg" alt="Add" style="width: 25px;height:25px;padding:0 0.3rem;"></a>

</div>
<main>
    <div class="related-widget-wrapper">
        <div class='interface-wrapper hidden'>
            <div class="navigation" id='wrap-navigation'>
                <div class="navigation-buttons">
                    <button id="prev" class="waves-effect waves-light btn"><i class="fas fa-arrow-left fa-2x"></i></button>
                </div>
                <div class='path-wrapper' style="display: flex;">
                    <input type="text" id="path" class="validate">
                    <button id="validate_path" class="waves-effect waves-light btn"><i class="fas fa-check-circle"></i></button>
                </div>

            </div>

            <div class="interface">
                
                <div class="FS-action-buttons" id='wrap-actionButtons'>
                    <button id="add_file" class="waves-effect waves-light btn"><i class="fa fa-plus"></i></button>
                    <button id="add_dir" class="waves-effect waves-light btn"><i class="fas fa-folder-plus"></i></button>

                    <button id="delete" class="waves-effect waves-light btn"><i class="fas fa-trash-alt"></i></button>
                    <button id="edit" class="waves-effect waves-light btn"><i class="fas fa-pen"></i></button>
                </div>
                <div class='forms' id='wrap-forms'>
                    <form id="file_form" class='hidden' enctype="multipart/form-data" novalidate>
                        <label for="file_name">File Name</label>
                        <input type="text" id='file_name'>

                        <label for="file_path">File</label>
                        <p class="file-upload">Currently: <a href="#" id="current_file" target="_blank" rel="noopener noreferrer"></a><br>
                            Change:
                            <input type="file" id="file_path">
                        </p>

                        <label for="year">year</label>
                        <input type="number" id='year'>
                        <input type="submit" value="Save" id='save_file' class="waves-effect waves-light btn">
                    </form>
                    <form action="" method ="post" id ='folder_form' class='hidden' , novalidate>
                        <label for="folder_name">Folder Name</label>
                        <input type="text" id='folder_name'>
                        <input type="submit" value="Save" id='save_folder' class="waves-effect waves-light btn">
                    </form>
                </div>
                <div class="FS-table" id ='wrap-table'>
                    <table>
                        <thead>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Size</td>
                            <td>Year</td>
                        </thead>
                        <tbody id="FS">
                            <!-- <tr>
                                <td>
                                    <i class="fa fa-folder"></i>
                                    <span>folder1</span>
                                </td>
                                <td>
                                    2020
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr> -->
<!-- 
                            <tr>
                                <td>
                                    <i class="fa fa-file-pdf"></i>
                                    <span>file 1</span>
                                </td>
                                <td>
                                    2019
                                </td>
                                <td>
                                    PDF
                                </td>
                                <td>
                                    1Mo
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>



</main>
{% endblock content %} {% block footer %}
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
    const pdf_image_url = '<i class="fas fa-file-pdf fa-2x ico"></i>';
    const txt_image_url = '<i class="fas fa-file-alt fa-2x ico"></i>';
    const xlsx_image_url = '<i class="fas fa-file-excel fa-2x ico"></i>';
    const docx_image_url = '<i class="fas fa-file-word fa-2x ico"></i>';
    const im_image_url = '<i class="fas fa-file-image fa-2x ico"></i>';
    const other_image_url = '<i class="fas fa-question-circle fa-2x ico"></i>';
</script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/FSHandler.js' %}"></script>
<script src="{% static 'js/AdminUI.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
{% endblock footer %}